*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

header{
    background-color: #78a9eb;
    color: white;
   
}

@font-face{
    font-family: AnandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf)
}

#list a {
    color: white; 
    text-decoration: none;
    
}

#list li a:hover {
    color: wheat
}

.taille_b{
    width: 100%;
    
}

.container{
    width: 100vw;
    height: 100vh; 
    background: url(./assets/images/bowling_field.jpg) center/cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
}

h1{
    font-family: AnandaBlack;
}

#header_container{
    max-width: 1400px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}






#size_image{
    width: 40px;
}


h2{
    text-align: center;
}

p{
    text-align: center;
}

.carré_boling{
    width: 320px;
    background-color: #78a9eb;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
    margin-right: 5px;
    align-items: center;
 
}

.carré_basseball{
    width: 320px;
    background-color: #e9cc7b;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
    margin-right: 5px;
    align-items: center;

}

.carré_billard{
    width: 320px;
    background-color: #cf7e70;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
    align-items: center;
    
}


.ref{
    width: 99%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.activite-img-container{
    width: 80px;
}

img{
    width: 100%;
    height: 100%;

}

.allignement{
    display: flex;
    justify-content: center;
    
}

#email{
    display: flex;
}

input{
    width: 300px; 
    display: flex;
    flex-direction: column; 
}


footer{
    background-color: #78a9eb;
    color: aliceblue;
}

ul{
    display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}

#center{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#gras{
    font-weight: bold;
}

li{
    margin-right: 20px;
    color: white; 
     
}

#contact_form {
    text-align: center; 
    margin-top: 20px; 
}

input {
    width: 100%;
    padding: 2px;
    margin-bottom: 5%;
    box-sizing: border-box;
}


#send_message{
    text-align: center;
    width: 0%; 
    height: 90px; 
    padding: 10px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

#body_form{
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 1200px;

    margin: auto;
    
}